*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
body header {
  text-align: center;
}
body .head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
body .head-container h2 {
  display: flex;
  font-size: 3rem;
  color: cyan;
}
body .head-container ul,
body .head-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .head-container li:not(:last-child) a {
  margin-right: 10px;
}
body .head-container a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
}
body .head-container li a {
  margin: 0 50px;
}
body .head-container a:hover {
  transition: 2s;
  color: cyan;
}
body main {
  background-color: #2E3744;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body main .Main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: white;
  font-size: 1rem;
  margin-top: 200px;
}
body main .Main-content h2 {
  font-size: 2rem;
  color: white;
}
body main .Main-content .circle {
  height: 600px;
  width: 600px;
  max-height: 80vw;
  max-width: 80vw;
  overflow: hidden;
  border-radius: 50%;
  border: 20px solid #297AE3;
  display: flex;
  justify-content: center;
  align-items: start;
}
body main .Main-content .circle img {
  width: 100%;
}
body main .Main-content .Home {
  display: block;
  justify-content: end;
  overflow: hidden;
  font-size: 1.5rem;
  align-items: center;
  margin-right: 150px;
  margin-bottom: 130px;
}
body main .Main-content .Home h2 {
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 3rem;
}
body main .Main-content .Home p {
  overflow: hidden;
  font-size: 2rem;
}
body main .container {
  overflow: hidden;
}
body main .container .text {
  position: relative;
  color: cyan;
  font-size: 2rem;
  font-weight: 600;
}
body main .container .text.first-text {
  color: #fff;
}
body main .text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #4070F4;
  background-color: transparent;
  animation: animate 3.5s steps(12) infinite;
}
@keyframes animate {
  40%, 60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}
body #FAQ {
  background: #232933;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #FAQ h2 {
  font-size: 3rem;
  color: white;
}
body #FAQ .About {
  max-width: 1000px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #2799ca;
  cursor: pointer;
  color: white;
}
body #FAQ .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #FAQ .question h3 {
  font-size: 1.8rem;
}
body #FAQ .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
body #FAQ .answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
body #FAQ .About.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
body #FAQ .About.active svg {
  transform: rotate(180deg);
}
body #FAQ svg {
  transition: transform 0.5s ease-in;
}/*# sourceMappingURL=style.css.map */